
body {
    background-color: #f4e8eb;
    color: #444444;
    font-family: 'Georgia', serif;
    font-size: 17px;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

p {
    font-family: 'Georgia', serif;
    font-size: 17px;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
color: #8b0000; 
    font-family: 'Georgia', serif; 
    font-size: 1.8em; 
    text-align: center; 
    border-bottom: 2px solid #8b0000; 
    padding-bottom: 10px; 
    margin-top: 40px; 
    margin-bottom: 20px;
}

h3 {
    color: #8b0000; 
    font-family: 'Georgia', serif; 
    text-align: center;
    border-bottom: 2px solid #8b0000; 
    padding-bottom: 10px; 

    font-size: 1.8em; 

    margin-top: 40px; 
    margin-bottom: 20px;
}

.slogan-intro {
    font-family: 'Arial', sans-serif;
    color: #004c99;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
    font-style: italic;
}

/* Animation definition */
@keyframes deplacementBienvenue {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0%);
    }
}

/* Apply animation to the <h1> element */
h1 {
    text-align: center;
    color: #8b0000;
    font-family: 'Georgia', serif; 
    font-size: 2.5em; 
    border-bottom: 2px solid #8b0000;
    padding-bottom: 10px;
    animation: deplacementBienvenue 2s ease-in-out;
    text-align: center; 
}
  .photo-entete {
    width: 130px;
    height: 130px;
    border-radius: 60%;
    border: 2px solid grey;
    object-fit: cover;
}
