.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
    background-color: #f0ead2;
    color: #6c584c;
    font-family: 'Georgia', serif;
    font-size: 19px;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

p {
    color: #6c584c; 
    font-family: 'Georgia', serif; 
    font-size: 19px;
    margin-bottom: 20px;
}
h1 {
    text-align: center;
    color: #717744;
    font-family: 'Georgia', serif; 
    font-size: 2.7em; 
    border-bottom: 2px solid #717744;
    padding-bottom: 10px;
    animation: deplacementBienvenue 2s ease-in-out;
    text-align: center; 
}
  .photo-entete {
    width: 140px;
    height: 140px;
    border-radius: 70%;
    border: 2px #dde5b6;
    object-fit: cover;
}

h2 {
color: #adc178; 
    font-family: 'Georgia', serif; 
    font-size: 1.8em; 
    text-align: center; 
    border-bottom: 2px solid #adc178; 
    padding-bottom: 10px; 
    margin-top: 40px; 
    margin-bottom: 20px;
}

h3 {
    color: #adc178; 
    font-family: 'Georgia', serif; 
    text-align: center;
    border-bottom: 2px solid #adc178; 
    padding-bottom: 10px; 

    font-size: 1.8em; 

    margin-top: 40px; 
    margin-bottom: 20px;
}

.slogan-intro {
    font-family: 'Georgia', sans-serif;
    color: #a98467;
    font-size: 1.7em;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
    font-style: italic;
}

/* Animation definition */
@keyframes deplacementBienvenue {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0%);
    }
}


