/* Style général de la page */
body {
    background-color: #9D8189; 
    color: #B0C4B1; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0 20px;
     font-size: 20px;
}
h2 {
    color: #38A3A5; 
    font-size: 24px;
    margin-top: 30px;
}

h3 {
    color: #38A3A5; 
    font-size: 20px;
    margin-top: 20px;
}
/* Animation definition */
@keyframes deplacementBienvenue {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0%);
    }
}

/* Apply animation to the <h1> element */
h1 {
    font-size: 38px;
    margin-top: 30px;
    color: #4A5759;
    animation: deplacementBienvenue 2s ease-in-out;
    text-align: center; /* Optional: center it horizontally */
}
  .photo-entete {
    width: 130px;
    height: 130px;
    border-radius: 60%;
    border: 2px solid grey;
    object-fit: cover;
}
