/* Style général de la page */
body {
    background-color: #9D8189; 
    color: #B0C4B1; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0 20px;
     font-size: 20px;
}
/* Animation pour le mot "Bienvenue" */
@keyframes deplacementBienvenue {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0%);
    }
    }
    
    /* Apply the animation to the Bienvenue */
.entete h1 {
    font-size: 28px;
    margin: 0;
    color: #2c3e50;
    animation: deplacementBienvenue 6s ease-in-out;
}
   /* Conteneur de l'entête */
.entete {
    display: flex;
    align-items: center;        /* Aligne verticalement l’image et le texte */
    gap: 15px;                  /* Espace entre l’image et le texte */
    margin-top: 20px;
}
