/* Style général de la page */
body {
    background-color: #f4e8eb; 
    color: #333333; 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    font-size: 20px;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #588157; 
    font-size: 24px;
    margin-top: 30px;
}

h3 {
    color: #588157; 
    font-size: 24px;
    margin-top: 30px;
}
/* Animation definition */
@keyframes deplacementBienvenue {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0%);
    }
}

/* Apply animation to the <h1> element */
h1 {
    font-size: 38px;
    margin-top: 30px;
    color: #4A5759;
    animation: deplacementBienvenue 2s ease-in-out;
    text-align: center; /* Optional: center it horizontally */
}
  .photo-entete {
    width: 130px;
    height: 130px;
    border-radius: 60%;
    border: 2px solid grey;
    object-fit: cover;
}
